<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="card">
            <div class="card-content">
                <div class="input-field">
                    <!-- At any time user enter a term, the search Method is calling and the data pushed form search bar -->
                    <input #searchBox 
                           (keyup)="search(searchBox.value)" 
                           placeholder="Search a figurine" 
                    />
                    <div class="collection"> <!-- Using async Pipe avoid all subscribe syntaxe -->
                        <a *ngFor="let figurine of figurines$ | async" 
                            (click)="goToDetailFigurine(figurine)"
                            class="collection-item"
                        >
                            {{ figurine.name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
