<h1 class="center">Liste des figurines {{ title }}</h1>
<div class="container">
  <!-- By default, 12 col -->
  <div class="row">
    <div *ngFor="let figurine of figTab" class="col m4 s6">
      <div class="card horizontal" (click)="selectFig('figurine')" figBorderCard>
        <div class="card-image">
          <!-- Bond the src attribut from figTab -->
          <img [src]="figurine.picture" />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ figurine.name }}</p>
            <p>
              <small>{{ figurine.created | date:"dd/MM/yyyy" }}</small> <!-- using Date Pipe -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>