<div class="container">
    <div class="row">
      <div *ngFor="let figurine of figurineList" class="col m4 s6">
        <div (click)="goToFigurine(figurine)" class="card horizontal" figBorderCard>
          <div class="card-image">
            <img [src]="figurine.picture" />
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>{{ figurine.name }}</p>
              <p><small>{{ figurine.created | date : "dd/MM/yy" }}</small>
                <span 
                    *ngFor="let type of figurine.types" 
                    class="{{ type | figurineTypeColor }}"
                >
                  {{ type }}
              </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>