<h1 class="center">Liste des figurines {{ title }}</h1>
<div class="container">
  <!-- By default, 12 col -->
  <div class="row">
    <div *ngFor="let figurine of figTab" class="col m4 s6">
      <div class="card horizontal" (click)="selectFig('figurine')" figBorderCard>
        <div class="card-image">
          <!-- Bond the src attribut from figTab -->
          <img [src]="figurine.picture" />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ figurine.name }}</p>
            <p>
              <small>{{ figurine.created | date | uppercase }}</small> <!-- using Date Pipe -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <input #input (keyup.enter)="selectFig(input.value)" type="number" />
<br />
<p *ngIf="figSelected">
  Vous avez sélectionné la figurine :
  {{ figSelected?.name }}
</p>
<p *ngIf="!figSelected">Aucune figurine n'a été trouvée...</p>
<br />
<p *ngFor="let figurine of figTab">
  {{ figurine.name }}
</p> -->

<!-- <p (click)="selectFig($event)">{{ figTab[0].name }}</p> -->
<!-- <p>{{ figTab[0].name }}</p>
<p>{{ figTab[1].name }}</p>
<p>{{ figTab[2].name }}</p>
<p>{{ figTab[3].name }}</p>
<p>{{ figTab[4].name }}</p>
<p>{{ figTab[5].name }}</p>
<p>{{ figTab[6].name }}</p>
<p>{{ figTab[7].name }}</p>
<p>{{ figTab[8].name }}</p>
<p>{{ figTab[9].name }}</p>
<p>{{ figTab[10].name }}</p>
<p>{{ figTab[11].name }}</p> -->
